<div class="btn-toolbar"><div class="btn-group">
        <a class="btn" href="#" title="Check for new messages"><i class="icon-refresh"></i></a>
        <a class="btn" href="#" title="Compose a message"><i class="icon-pencil"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn" href="#" title="Mark selected messages as read"><i class="icon-check"></i></a>
</div></div>
<table class="table table-condensed">
    <tbody id="winbox-messages">
        <tr><td colspan="3">Loading...</td></tr>
    </tbody>
</table>
