<div id="winbox-container">
    <div class="well">
        <ul id="winbox-nav" class="nav nav-list">
            <li class="nav-header" style="color: #666">winbox</li>
            <li class="active"><a href="#/winbox"><i class="icon-white icon-inbox"></i> Messages</a></li>
            <li><a href="#/winbox/settings"><i class="icon-cog"></i> Settings</a></li>
            <li class="nav-header">Services</li>
            <span id="winbox-services-list"></span><!-- :DEBUG: temporary -->
        </ul>
    </div>
    <div id="winbox-content">{{{content}}}</div>
</div>
