<div id="winbox-container">
    <div class="well">
        <ul id="winbox-nav" class="nav nav-list">
            <li class="nav-header" style="color: #666"><span style="text-transform:none">\o/</span>inbox</li>
            <li class="active"><a href="#"><i class="icon-white icon-inbox"></i> Messages</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
            <li class="nav-header">Services</li>
            <li><a href="#"><i class="icon-folder-open"></i> Gmail</a></li>
            <li><a href="#"><i class="icon-folder-open"></i> Twitter</a></li>
            <li><a href="#"><i class="icon-folder-open"></i> Facebook</a></li>
        </ul>
    </div>
    <div id="winbox-content">{{{content}}}</div>
</div>
