body {
    margin-top: 10px;
}
#winbox-container {
    margin: 5px 8px;
}
#winbox-container .well {
    padding: 8px 0;
    width: 150px;
    float: left;
}
#winbox-content {
    margin-left: 170px;
}
#winbox-messages tr td a {
    color: #555;
}
#winbox-content .form-horizontal .control-group::after { clear: none; }